<div class='form-group'>
  <label for='organizationName'>Organization Name</label>
  <input name='name' class='form-control' type='text' ng-model='ctrl.organization.name' required='required' />
</div>
<div class='form-group'>
  <label for='organizationDescription'>Organization Description</label>
  <textarea rows="10" class="form-control" ng-model="ctrl.organization.description"></textarea>
</div>
<div class='form-group'>
  <label for='organizationAddress'>Organization Address</label>
  <input name='address' class='form-control' type='text' ng-model='ctrl.organization.address' required='required' />
</div>
<div class='form-group'>
  <label for='organizationVolunteers'>Is this Organization currently accepting volunteers?</label>
  <select type="string" class="form-control" ng-model="ctrl.organization.volunteers">
    <option>Yes</option>
    <option>No</option>
</div>
