<div class='form-group'>
  <label for='organizationName'>Organization Name</label>
  <input class='form-control' type='text' ng-model='newOrganization.name' value='' />
</div>
<div class='form-group'>
  <label for='organizationDescription'>Organization Description</label>
  <input class='form-control' type='text' ng-model='newOrganization.description' value='' />
</div>
<div class='form-group'>
  <label for='organizationAddress'>Organization Address</label>
  <input class='form-control' type='text' ng-model='newOrganization.address' value='' />
</div>
<div class='form-group'>
  <label for='organizationVolunteers'>Is this Organization currently accepting volunteers?</label>

</div>
