<div class="container new-form">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1>Add Organization</h1>
        <form name="form" ng-submit="ctrl.addOrganization()">
          <div class='form-group'>
            <label>Name : </label>
            <input name='name' type='text' class='form-control' ng-model='ctrl.organization.name' required='required'/>
          </div>

          <div class='form-group'>
            <label>Description : </label>
            <input name='description' type='text' class='form-control' ng-model='ctrl.organization.description' required='required'/>
          </div>

          <div class='form-group'>
            <label>Address : </label>
            <input name='address' type='text' class='form-control' ng-model='ctrl.organization.address' required='required'/>
          </div>

          <div class='form-group donationsneeded'>
            <div class='form-group'>
              <label>Donations Needed (separate items by comma): </label>
              <input name='donations' type='text' class='form-control' ng-model='ctrl.organization.donations' required='required'/>
            </div>
          </div>

          <div class="form-group">
				    <label for="category">Category : </label>
  			    <select class="form-control" name="category" ng-model="ctrl.category" ng-options="category.name for category in ctrl.categories" required></select>
			    </div>

          <div class='form-group'>
            <button class='btn btn-primary create-btn' type='submit'>Create Organization</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
