<div class="container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div id="showinfo">
          <h4>Name: </h4><h5>{{ ctrl.organization.name }}</h5>
          <h4>Category: </h4><h5>{{ ctrl.organization.category.name }}</h5>
          <h4>Location: </h4><h5>{{ ctrl.organization.address }}</h5>
          <h4>Description: </h4><h5>{{ ctrl.organization.description }}</h5>

          <h4>Donations Needed:</h4>

          <ol>
            <li class="list-group-item" ng-repeat="donation in organization">
              {{ donation.text }}
            </li>
          </ol>
          <!-- <h5>{{ ctrl.organization.donations }}</h5> -->

        </div>

        <br />
        <br />

        <h4>Comments:</h4>

        <p ng-repeat="comment in ctrl.organization.comments"> {{ comment.body }} </p>

        <form ng-submit="ctrl.addComment(ctrl.organization)">
          <h4>Add a comment:</h4>
          <div class='form-group'>
            <input type='text' class='form-control' placeholder='Add Comment...' ng-model='ctrl.comment.body' />
          </div>
          <button type="submit" class="btn btn-primary">Add Comment</button>
        </form>
      </div>
    </div>
  </div>
</div>
