<nav ng-controller='NavController' class='navbar navbar-default'>
  <ul class='nav navbar-nav'>
    <li ui-sref-active='active'><a href='/'>Home</a></li>
    <li ui-sref-active="active"><a href="#/organizations">Organizations</a></li>
    <li ng-hide="signedIn()" ><a href="#/login">Log In</a></li>
    <li ng-hide="signedIn()" ui-sref-active="active"><a href="#/signup">Register</a></li>
    <li ng-show="signedIn()" ui-sref-active="active"><a href="#/organizations/new">Add Organization</a></li>
    <li ng-show="signedIn()" ui-sref-active="active"><a href="#/organizations">Logged in as {{ user.username }}</a></li>
    <li ng-show="signedIn()" ui-sref-active="active"><a ng-click="logout()">Log Out</a></li>
  </ul>
</nav>
